﻿@model Enum

@{
    ViewBag.Title = "Quiz mode";
}
<h1 class="heading">Quiz mode</h1>

@using (Html.BeginForm("Settings", "Quiz", FormMethod.Post, new { @class = "quiz__settings-form" }))
{

    foreach (var value in Enum.GetValues(typeof(QuizGame.Models.QuizMode)))
    {
        <div class="quiz_settings--option">
            @Html.RadioButton("Mode", value, (string)ViewBag.QuizMode == value.ToString())
            @Html.Label(value.ToString())
        </div>
    }

    <input type="submit" value="Save" class="btn btn-default quiz__settings-form--submit" />

    @Html.ActionLink("Back to the quiz", "Details", "Questions")
}


