﻿@model QuizGame.ViewModels.QuestionViewModel

@{
    ViewBag.Title = "Famous Quote Quiz";
}

<h1 class="heading">Famous Quote Quiz</h1>

<div class="quiz__container">
    <div class="question__container">
        <div class="question__intro">
            @Html.DisplayFor(model => model.Question)
        </div>

        <div class="question__text">
            @Html.DisplayFor(model => model.Text)
        </div>
    </div>

    <div class="answers__container--binary js-binary-mode">
        <div class="quiz__suggested-answer js-suggested-answer" data-answer-id="@Model.RandomAnswer.Id">@Html.DisplayFor(model => model.RandomAnswer.Text)?</div>

        <div class="answer__options">
    <div class="answer--yes js-answer-yes">Yes</div>
    <div class="answer--no js-answer-no">No</div>
</div>
    </div>

    <div class="answers__container--multiple-choice js-multiple-choice-mode">
        @foreach (var answer in Model.Answers)
        {
            <div class="question__answer js-answer-mutiple-choice" data-answer-id="@answer.Id">@answer.Text</div>
        }
    </div>

    <div class="quiz__result js-quiz-result">
    </div>
    <div class="quiz__correct-answer js-quiz-correct-answer">
    </div>

    <div class="quiz__next-question js-next-question">
        @if (Model.IsLast)
        {
            <a href="/" class="quiz__next-question--link">Start again the quiz</a>
        }
        else
        {
            @Html.ActionLink("Next", "Details", "Questions", new { id = Model.NextQuestion.Id }, new { @class = "quiz__next-question--link" })
        }
    </div>
</div>

<div data-quiz-mode="@Model.QuizMode" class="mode__info js-quiz-mode">
    Mode: @Model.QuizMode - @Html.ActionLink("Change", "Settings", "Quiz")
</div>