﻿.heading{
    text-align: center;
    margin: 1rem 0 8rem 0;
    font-size: 3rem;
    color: #ff048c;
}

.quiz__container{
    max-width: 70rem;
    margin: auto; 
}
.question__intro{
    font-size: 2rem;
    margin: 1rem 0;
}

.question__text {
    background-color: #ff048c;
    font-size: 1.8rem;
    color: #fff;
    padding: 2rem 1rem;
    margin: 2rem 0;
    border-radius: .5rem;
    text-align: center;
}

.question__text::before {
    content: "\"";
}

.question__text::after {
    content: "\"";
}

.quiz__suggested-answer{
    text-align: center;
    font-size: 1.8rem;
}

.answer__options{
    margin: 3rem 5rem;
    padding: 2rem;
}

.answer--yes{
    display: inline-block;
    background-color: #15d215;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    width: 7rem;
    text-align: center;
    cursor: pointer;
}

.answer--yes:hover{
    background-color: #8dda8d;
}

.answer--no{
    /*display: inline-block;*/
    background-color: #ff0455;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    width: 7rem;
    text-align: center;
    float: right;
    cursor: pointer;
}

.answer--no:hover{
    background-color: #f95d8f;
}

.answers__container--multiple-choice{
    padding: 0 2rem;
}

.question__answer{
    background: #808080;
    margin: .5rem;
    color: #fff;
    padding: .2rem .7rem;
    border-radius: .5rem;
    font-size: 1.6rem;
}

.question__answer::before{
    content: "-> ";
}

.question__answer:hover{
    background-color: #bfbfbf;
    cursor: pointer;
}

.quiz__result{
    padding: 0 2rem;
    font-size: 1.6rem;
}

.quiz__correct-answer{
    padding: 0 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.quiz__next-question{
    background-color: #15d215;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    width: 20rem;
    text-align: center;
    cursor: pointer;
    margin: 5rem 2rem;
    float: right;
}

.quiz__next-question:hover{
    background-color: #8dda8d;
}

.quiz__next-question--link{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.quiz__next-question--link:hover{
    text-decoration: none;
    color: #fff;
}

.quiz__next-question--link:focus{
    text-decoration: none;
    color: #fff;
}

.answers__container--binary{
    display: block;
}

.answers__container--multiple-choice{
    display: none;
}

.quiz__result{
    display: none;
}
.quiz__correct-answer{
    display: none;
}
.quiz__next-question{
    display: none;
}

.quiz__settings-form{
    max-width: 40rem;
    margin: auto; 
}

.quiz__settings-form--submit{
    margin: 2rem;
}

.quiz_settings--option{
    padding: 1rem 2rem;
}

.mode__info{
    position: fixed;
    bottom: 5rem;
}